<h1>answer</h1>

<div class="alert alert-primary">
    <%= @answer %>
    <p>--you</p>
</div>
<div class="alert alert-primary">
    <%= @coach %>
    <p>--coach</p>
</div>
<%= link_to "new question for coach", ask_path %>